<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

</body>
<div class="content">
<h1>Register</h1>
<form action="add" method="post">
    <table>
        <tr>
            <td><label>
                Name:
                <input type="text" name="username" th:value="${user.username}">
            </label>
                <p class="error" th:errors="${user.username}"></p>
            </td>
        </tr>
    <tr>
        <td>
            <label>
                Email:
                <input name="email" th:value="${user.email}">

            </label>
            <p class="error" th:errors="${user.email}"></p>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <p class="error" th:errors="${user.password}"></p>
        </td>
    </tr>
        <tr>
        <td>
            <label>
                Verify Password:
                <input type="password" name="verify">
            </label>
            <p class="error" th:text="${errorPass}"></p>
        </td>
        </tr>
<tr>
    <td>
        <input type="submit" value="Register">
    </td>
</tr>
    </table>
</form>
</div>
</html>